.page-form {
	background-color: unset;
	border-bottom: unset;
}

.chart-wrapper {
	overflow: auto;
}


/* Tasks */

.column-tasks {
	max-height: 400px;
	min-height: 300px;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.column-tasks::-webkit-scrollbar {
	display: none;
}

.kanban-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #161a1fcc;
	border-radius: var(--border-radius-md);
	font-size: smaller;
	padding: 0.5rem;
	min-height: 110px;
}

.kanban-card:hover {
	background-color: var(--fg-hover-color);
}

.kanban-card .container {
	padding: 0 5px;
	min-height: 20px;
}

.task-header .row,
.task-footer .row,
.task-column .row {
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-items: center;
	min-width: 60px;
}

.task-column .column-title {
	font-size: medium;
}

.task-column {
	font-size: small;
}

.btn.btn-sm {
	font-size: smaller;
}

.task-title,
.note-content {
	font-size: medium;
}

.content-div {
	width: 310px;
	height: 200px;
}

.notes-wrapper {
	max-height: 600px;
	min-height: 250px;
	overflow: auto;
}


.control-content {
	width: inherit;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

.note-content {
	height: inherit;
}

.custom-checkbox {
	transform: scale(1.5);
}

.user-profile-sidebar {
	position: fixed;
	height: 100%;
	overflow-y: auto;
	width: 10%;
}

.table-widget {
	background-color: #161a1fcc;
}

.change-sign::after {
	content: '+';
	font-size: 2rem;
}

.change-sign.active::after {
	content: '-';
	font-size: 2rem;
}