<div class="kanban-card mb-3 col-md-12" id="{{task.name}}" data-priority="{{task.priority_number}}" data-deadline="{{task.expected_end_date}}">
    <div class="container task-header">
        <div class="row">
            <div class="text-left">
                {% if task.priority %}
                <span style="color: {{task.priority_colour}};">
                    <i class="fa fa-flag"></i>
                    {{task.priority}}
                </span>
                {% endif %}
            </div>
            <div class="text-centre">
                {% if task.expected_time_formatted %}
                <span class="ml-2 text-muted">
                    <i class="fa fa-clock-o"></i>
                    {{task.expected_time_formatted}}
                </span>
                {% endif %}
            </div>
            <div class="text-right">
                <button class="btn btn-secondary btn-sm" id="{{task.name}}" data-next-action="{{task.next_action}}">
                    {% if task.next_action == "Done" %}
                    <i class="fa fa-check-circle"></i>
                    {% else %}
                    <i class="fa fa-plus"></i>
                    {% endif %} &nbsp; {{task.next_action}}
                </button>
            </div>
        </div>
    </div>
    <div class="container task-title strong">{{task.title}}</div>

    <div class="container task-footer text-muted">
        <div class="row">
            <div class="text-left">
                {% if task.created_since %}
                {{task.created_since}}
                {% endif %}
            </div>
            <div class="text-right">
                {% if task.deadline %}
                <span> Due: {{task.deadline}} </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
